body {
	font-family: 'Mali', cursive;
	font-size: 20px;
	background-color: lavender;
	color: slategrey;
}
h1 {
	font-size: 40px;
}
select {
		font-family: 'Charmonman', cursive;
		background-color: cornflowerblue;
}
table, th, td {
	vertical-align: top;
}
img {
	vertical-align: top;	
}
